.artifacts-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 0; 
  padding-bottom: 0;
}

main {
  flex: 1;
  display: flex;
  padding: 20px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

#infoSection {
  margin: 40px auto;
  max-width: 800px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: relative;
}

#container3D {
  width: 80%;
  height: 400px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
}

#container3D canvas {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.header {
  position: relative;
  z-index: 10;
}

.footer {
  position: relative;
  z-index: 10;
}

.dropdown-select {
  background-color: #2F2F2F;
  color: white;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.dropdown-select:hover {
  background-color: #444;
}

#movementInstructions {
  font-size: 0.9rem;
  color: #666;
  margin-top: 10px;
}
