/* Pagination container */
.pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
}

/* Pagination buttons */
.pagination button {
    background-color: #2F2F2F;
    color: white;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 5px;
}

.pagination button:disabled {
    background-color: #999;
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background-color: #444;
}
